/* ==========================================================================
  Mixins
========================================================================== */
/**** **** **** **** ****
ANIMATION -
USAGE: @include animation(name, fadeIn);
USAGE: @include animation(duration, .15s);
USAGE: @include animation(delay, 1s);
USAGE: @include animation(fill-mode, both);
**** **** **** **** ****/
/**** **** **** **** ****
BREAKPOINTS -
USAGE: @include breakpoint(small) {}
**** **** **** **** ****/
/**** **** **** **** ****
CLEARFIX -
USAGE: @include clearfix();
**** **** **** **** ****/
/**** **** **** **** ****
PLACEHOLDER -
USAGE: @include placeholder(#333);
**** **** **** **** ****/
/**** **** **** **** ****
FLEXBOX!
USAGE: @include flexbox();
**** **** **** **** ****/
/**** **** **** **** ****
FLEX
USAGE: @include flex(1 1 200px);
**** **** **** **** ****/
/**** **** **** **** ****
ORDER
USAGE: @include order(2);
**** **** **** **** ****/
.wrapping {
  width: 100%; }

.backButton {
  display: inline; }

.backLink {
  text-decoration: none; }

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  position: absolute;
  vertical-align: middle;
  margin-top: .37em; }
  .triangle:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .triangle {
      margin-top: 4%;
      margin-left: 4%;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid white; } }

.backBtn {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding-left: .8em; }
  @media (max-width: 767px) {
    .backBtn {
      font-size: 3em; } }

.playerName {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 3.2em;
  text-align: center; }
  @media (max-width: 767px) {
    .playerName {
      margin-bottom: 0;
      display: none; } }

.leadGen {
  margin: 0 auto;
  text-align: center;
  display: block; }

#input_firstName, #inputLastName {
  margin-left: 1%;
  margin-right: 1%; }

#input_firstName, #input_lastName, #input_email {
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 16px;
  border: none;
  font-size: 2em;
  vertical-align: middle;
  padding: .2em;
  margin-top: 1em;
  width: 45%; }
  @media (max-width: 767px) {
    #input_firstName, #input_lastName, #input_email {
      width: 90%;
      font-size: 4em;
      margin-top: 0; } }

@media (max-width: 767px) {
  #input_firstName {
    width: 90%;
    height: 50%; } }

@media (max-width: 767px) {
  #input_lastName {
    display: none; } }

@media (min-width: 980px) and (max-width: 1199px) {
  #input_email {
    display: block;
    margin: 1em auto 0 auto; } }

@media (min-width: 768px) and (max-width: 979px) {
  #input_email {
    display: block;
    margin: 1em auto 0 auto; } }

@media (max-width: 767px) {
  #input_email {
    display: block;
    margin: 1em auto 0 auto;
    display: none; } }

.next {
  background: rgba(255, 255, 255, 0.4);
  color: #8f4399;
  text-decoration: none;
  width: 20%;
  margin-top: 1em;
  padding: 1.5%;
  border: none;
  font-size: 2em;
  border-radius: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block; }
  .next:hover {
    background: white; }
  @media (max-width: 468px) {
    .next {
      width: 80%;
      font-size: 4em; } }
  @media (min-width: 1200px) and (max-width: 2000px) {
    .next {
      display: block;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0; } }

body {
  font-family: "Source Sans Pro", sans-serif; }

.circle {
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#b_circle {
  background: rgba(255, 255, 255, 0.4);
  width: 100vh;
  height: 100vh;
  margin-right: 7vh;
}
  @media (max-width: 767px) {
    #b_circle {
      margin-right: 0vh; } }
  #b_circle p {
    text-align: center;
    color: #8f4399; }

#m_circle {
  background: rgba(255, 255, 255, 0.4);
  width: 70vh;
  height: 70vh;
  margin: 15vh; }

#s_circle {
  background: rgba(255, 255, 255, 0.4);
  width: 25vh;
  height: 25vh;
  margin: 22vh; }

.terms-list {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  width: 40%;
  padding-top: 1.5em;
  padding-left: 2em; }

.concept {
  background: #8f4399;
  width: 40%;
  border-radius: 25px;
  text-align: center;
  padding: .5em;
  vertical-align: middle;
  margin-top: 1rem;
  }
  .concept:hover {
    background: #7e3b87;
    cursor: pointer; }

.answer {
  background: #8f4399;
  width: 30vh;
  border-radius: 25px;
  text-align: center;
  color: white;
  vertical-align: middle;
  padding: .5em;
  margin-top: 2em; }

#test {
  background: white;
  width: 30vh;
  border-radius: 25px;
  padding: .5em;
  text-align: center;
  margin: 0 auto; }

.placeholder {
  width: 30vh;
  border-radius: 25px;
  padding: .3em;
  text-align: center;
  margin: 0 auto;
  background: white; }
  .placeholder:hover {
    cursor: pointer;
  }

.placeholder2 {
  width: 30vh;
  border-radius: 25px;
  padding: .3em;
  text-align: center;
  margin: 0 auto;
  background: white; }
  .placeholder:hover {
    cursor: pointer;
  }

  .answerHolder {
    width: 30vh;
    border-radius: 25px;
    padding: .3em;
    text-align: center;
    margin: 0 auto;
    content: 'answers'
    background: white; }
    .placeholder:hover {
      cursor: pointer;
    }


/* The following CSS is also used in the "concept" class selector */
.concept_plucked {
  width: 40%;
  border-radius: 25px;
  text-align: center;
  padding: .5em;
  border: 1px solid white;
  color: #8f4399;
  background: rgba(255, 255, 255, 0.4); }

html {
  background: url("../img/background.svg") no-repeat center center fixed;
  width: 100%;
  height: 100%; }

.wrapper {
  padding-top: 5em; }

.how {
  font-family: "Monoton", cursive;
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  vertical-align: middle; }

.conceptLink {
  font-family: "Monoton", cursive;
  color: white;
  font-size: 5.5em;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  word-spacing: .2em;
  vertical-align: middle;
  margin-bottom: .4em; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .conceptLink {
      white-space: nowrap;
      font-size: 5em; } }

.buttons {
  text-align: center;
  word-spacing: 3em;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .buttons .start, .buttons .ranking {
    background: rgba(255, 255, 255, 0.4);
    color: #8f4399;
    text-decoration: none;
    width: 20%;
    padding: 1.5%;
    border: none;
    font-size: 2em;
    border-radius: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    cursor: pointer; }
    .buttons .start:hover, .buttons .ranking:hover {
      background: white; }
  .buttons .start {
    margin-right: 3em; }

.board {
  display: none; }

.deg0 { transform: translate(50vh); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(50vh) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(50vh) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(50vh) rotate(-135deg); }
.deg180 { transform: translate(-50vh); }
.deg225 { transform: rotate(225deg) translate(50vh) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(50vh) rotate(-315deg); }

.btn-wrapper {
  margin: 0 auto;
  text-align: center;
}

#start {
  border: none;
  color: white;
}
