.circles {
  width: 100%;
  margin: -8% 38% 40%;
  position:fixed;
}

.big-circle {
  width: 60%;
  position: fixed;
  top: 0;
  height: 40%;
  left: 35%;
  @include breakpoint(medium) {
    width: 70%;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    background:rgba(255,255,255,0.4);
    border-radius: 50%;
  }
}

.middle-circle {
  width: 40%;
  position: fixed;
  top: 18%;
  text-align: center;
  height: 20%;
  margin-left: 10%;
  @include breakpoint(medium) {
    width: 70%;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
  }
}

.small-circle {
  width: 22%;
  position: fixed;
  top: 34%;
  text-align: center;
  height: 10%;
  margin-left: 19%;
  @include breakpoint(medium) {
    width: 70%;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    background: $teal;
    border-radius: 50%;
  }
}

.terms-list {
  color: white;
  font-family: $body-font;
  width: 40%;
  padding-top: 1.5em;
  padding-left: 2em;
}

.concept {
  background: $purple;
  width: 40%;
  border-radius: 25px;
  text-align: center;
  padding: .5em;
  vertical-align: middle;
}

.circle-titles {
  font-size: 1em;
  font-family: $body-font;
  color: $purple;
  text-align:center;
  position: fixed;
  top: 2em;
  margin: 0 auto;
  .title-big-circle {
    text-align: center;
  }
}
