.circles {
  width: 100%;
  margin: -8% 38% 40%;
  position:fixed;
}

.big-circle {
  width: 60%;
  position: fixed;
  top: -15%;
  height: 40%;
  @include breakpoint(medium) {
    width: 70%;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    background:rgba(255,255,255,0.4);
    border-radius: 50%;
  }
}

.middle-circle {
  width: 40%;
  position: fixed;
  top: 8%;
  text-align: center;
  height: 20%;
  margin-left: 10%;
  @include breakpoint(medium) {
    width: 70%;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
  }
}

.small-circle {
  width: 22%;
  position: fixed;
  top: 28%;
  text-align: center;
  height: 10%;
  margin-left: 19%;
  @include breakpoint(medium) {
    width: 70%;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
    background: $teal;
    border-radius: 50%;
  }
}

.terms-list {
  color: white;
  font-family: $body-font;
  width: 40%;
  padding-top: 1.5em;
  padding-left: 2em;
}

.concept {
  background: $purple;
  width: 40%;
  border-radius: 25px;
  text-align: center;
  padding: .5em;
  vertical-align: middle;
}
