.wrapping {
  width: 100%;
}
.backButton {
  display: inline;
}

.backLink {
  text-decoration: none;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  position: absolute;
  vertical-align: middle;
  margin-top: .37em;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint(small) {
    margin-top: 4%;
    margin-left: 4%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
  }
}

.backBtn {
  color: white;
  font-family: $body-font;
  padding-left: .8em;
  @include breakpoint(small) {
    font-size: 3em;
  }
}

.playerName {
  font-family: $body-font;
  color: white;
  font-size: 3.2em;
  text-align: center;
  @include breakpoint(small) {
    margin-bottom: 0;
    display: none;
  }
}
.leadGen {
  margin: 0 auto;
  text-align: center;
  display: block;
}

#input_firstName, #inputLastName {
  margin-left: 1%;
  margin-right: 1%;
}
#input_firstName, #input_lastName, #input_email {
  font-family: $body-font;
  border-radius:  16px;
  border: none;
  font-size: 2em;
  vertical-align: middle;
  padding: .2em;
  margin-top: 1em;
  width: 45%;
  @include breakpoint(small) {
    width: 90%;
    font-size: 4em;
    margin-top: 0;
  }
}

#input_firstName  {
  @include breakpoint(small) {
    width: 90%;
    height: 50%;
  }
}

#input_lastName  {
  @include breakpoint(small) {
    display: none;
  }
}

#input_email {
  @include breakpoint(large) {
  display: block;
  margin: 1em auto 0 auto;
  }
  @include breakpoint(medium) {
  display: block;
  margin: 1em auto 0 auto;
  }
  @include breakpoint(small) {
  display: block;
  margin: 1em auto 0 auto;
  display: none;
  }
}

.next {
  background: rgba(white, 0.4);
  color: $purple;
  text-decoration: none;
  width: 20%;
  margin-top: 1em;
  padding: 1.5%;
  border: none;
  font-size: 2em;
  border-radius: 20px;
  font-family: $body-font;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background: white;
  }
  @include breakpoint(xSmall) {
    width: 80%;
    font-size: 4em;
  }
  @media (min-width: 1200px) and (max-width: 2000px) {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  }
}
