<div ng-controller="BoardCtrl" ng-init="init()">
    <div class="col-lg-3 terms-list" ng-if="$root.game.when(['selectMedicalConcept'])">
        <h3>Select a medical concept.</h3>
        <div ng-repeat="medicalConcept in $root.game.medicalConcepts" ng-click="selectMedicalConcept(medicalConcept.id)">
            {{medicalConcept.name}}
        </div>
    </div>
    <div class="col-lg-3 terms-list" ng-if="$root.game.when(['preview', 'playing'])">
        <h3>Terms</h3>
        <div ng-repeat="term in $root.game.terms()" ng-class="{'selected': $root.game.termIsSelected(term.id), 'dragged': $root.game.termIsDragged(term.id)}" ng-click="selectTerm(term.id)">
            {{term.name}}
        </div>
    </div>
    <div class="results" ng-if="$root.game.when(['finished'])">
        <p>Score for</p>
        <div class="participant-name">{{$root.game.playerName()}}</div>

        <div class="result-list">
          <div class="default-result correct-result">
            <p>Correct <i class="icon-check"></i></p>
            <div class="score-result">{{$root.game.scoreCorrect()}} <span>/ {{$root.game.totalTerms()}}</span></div>
          </div>
          <div class="default-result wrong-result">
            <p>Wrong <i class="icon-check"></i></p>
            <div class="score-result">{{$root.game.scoreWrong()}} <span>/ {{$root.game.totalTerms()}}</span></div>
          </div>
          <div class="default-result">
            <p>Time <i class="icon-check"></i></p>
            <div class="score-result">{{timeFormat($root.game.eventGameTimeLimit() - gameTimeLimit)}}</div>
          </div>
          <div class="default-result">
            <p>Rank <i class="icon-check"></i></p>
            <div class="score-result">{{$root.game.rank}}</div>
          </div>
        </div>
      </div>
    <div class="big-circle">
        <div class="middle-circle"></div>
        <div class="small-circle"></div>
        <div class="circle-titles">
            <p class="title-big-circle">Concept Relationships</p>
            <p class="title-middle-circle">Concept Attributes</p>
            <p class="title-small-circle">
                Concept 
                <span ng-if="$root.game.when(['preview', 'playing', 'saving', 'finished'])">{{$root.game.medicalConcept.name}}</span>
            </p>
            <a href="" class="go-btn" ng-if="$root.game.when(['preview'])" ng-click="startGame()">Go!</a>
        </div>
        <div ng-if="$root.game.when(['preview', 'playing', 'finished', 'saving'])" ng-repeat="concept in $root.game.concepts()" class="pos-{{concept.pos_class}}-{{concept.position}}" ng-click="toggleTerm(concept.id)">
            <span class="term-title">{{concept.name}}</span>
            <div ng-class="{'empty': $root.game.emptyConcept(concept.id), 'moved': $root.game.notEmptyConcept(concept.id), 'correct': $root.game.correctConcept(concept.id), 'wrong': $root.game.wrongConcept(concept.id)}">
                {{$root.game.termPutInConcept(concept.id)}} 
                <i class="icon-cross"></i>
                <i class="icon-check" ng-show="$root.game.when(['finished', 'saving'])"></i>
            </div>
        </div>
    </div>

    <div ng-if="$root.game.when(['preview'])" class="lapsed-time">
        <p>Game Starts in:</p>
        <div class="time">{{timeFormat(previewCountdown)}}</div>
    </div>

    <div ng-if="$root.game.when(['playing'])" class="lapsed-time">
        <p>Time left:</p>
        <div class="time">{{timeFormat(gameTimeLimit)}}</div>
        <button ng-click="finishGame()" class="btn finish-btn">Finished</button>
    </div>

    <div ng-if="$root.game.when(['finished'])" class="lapsed-time">
        <a href="/home" class="btn finish-btn">New Game</a>
        <a href="/home" class="btn exit-btn">Exit</a>
    </div>
</div>
