<div ng-controller="HomeCtrl">
    <div class="top-options" ng-show="$root.game.eventLoaded()">
        <!--a href="/game_setting" class="pull-left"><i class="icon-left-arrow"></i> Back</a-->
        <a href="/game_setting" class="pull-right"><i class="icon-cog"></i></a>
    </div>
    <div class="transparent-logo"></div>
    <div class="head">
        <p class="how-fast">How Well Do You</p>
        <p class="concept">Know Healthcare?</p>
    </div>
    <div class="single-event-name" ng-show="$root.game.eventLoaded()">
        <p>Event: <span class="event-title">{{$root.game.eventName()}}</span></p>
    </div>
    <div class="home-buttons">
        <a href="/enter_player" class="btn home-btn" ng-show="$root.game.eventLoaded()">Play Game</a>
        <a href="/game_setting" class="btn home-btn" ng-hide="$root.game.eventLoaded()">Start</a>
        <a href="/ranking" class="btn home-btn">Ranking</a>
    </div>
    <!--div class="demo-section">
        <button type="button" class="btn demo-btn">Demo Mode</button>
    </div-->
</div>
