<div ng-controller="RankingCtrl" ng-init="init()">
    <div class="top-options">
        <a href="/home" class="pull-left"><i class="icon-left-arrow"></i> Back</a>
        <div class="btn-group all-events-ranking">
            <a href="/ranking" disabled class="btn btn-for-table">Ranking By Events</a>
            <a href="/ranking_details" class="btn btn-for-table holded">All Events</a>
        </div>
    </div>
    <div class="ranking-box">
        <h2>Ranking</h2>
        <table class="table ranking-table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody class="table-container">
                <tr ng-repeat="event in events" ng-click="goToRankingDetails(event)">
                    <td>{{event.name}}</td>
                    <td>{{event.event_date}}</td>
                    <td class="small-row">
                        <i class="glyphicon glyphicon-play"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
