<div ng-controller="RankingDetailsCtrl" ng-init="init()">
    <div class="top-options">
        <a href="/ranking" class="pull-left"><i class="icon-left-arrow"></i> Back</a>
        <a href="/api/players.csv" target="_blank" class="pull-right">
            <i class="icon-download"></i> CSV
        </a>
        <div class="btn-group all-events-ranking">
            <a href="/ranking" ng-disabled="!allEvents" ng-class="{ 'holded': allEvents }" class="btn btn-for-table">Ranking By Events</a>
            <a href="/ranking_details" ng-disabled="allEvents" ng-class="{ 'holded': !allEvents }" class="btn btn-for-table">All Events</a>
        </div>
    </div>
    <div class="ranking-box">
        <h2>Ranking: {{eventName}}</h2>
        <table class="table ranking-details-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Score</th>
                    <th>Time</th>
                    <th>Event</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody class="table-container">
                <tr ng-repeat="player in players">
                    <td>{{$index + 1}} {{player.first_name}} {{player.last_name}}</td>
                    <td>{{player.score_correct}}/{{player.total_terms}}</td>
                    <td>{{player.game_time}}</td>
                    <td>{{player.event_name}}</td>
                    <td>{{player.event_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
